<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://alifwebsite.alif.tj/uploads/Alifoducts_Logo_b22cb90b0c.svg" alt="alif logo">
    <ul>
        <li><a href="">For Private Clients</a></li>
        <li><a href="">For Business</a></li>
        <li><a href="">Alif</a></li>
    </ul>
    <br>
    <ul>
        <li><a href="">Alif Mobi</a></li>
        <li><a href="">Visa</a></li>
        <li><a href="">Salom</a></li>
        <li><a href="">Car Financing</a></li>
        <li><a href="">Alif Shop</a></li>
        <li><a href="">Transfers</a></li>
        <li><a href="">Deposits</a></li>
        <li><a href="">Alif Online</a></li>
      </ul>
</body>
</html>