{% extends "master.html" %}
{% load static %}

{% block title %}Fever8s: Games{% endblock %}
{% block content %}
	
   <header id="Software">
   <link rel="stylesheet" href="{% static 'css/movies.css' %}">
      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
         <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="/">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li><br>

            <li><a class="smoothscroll" href="/movies">Movies</a></li>
            <li><a class="smoothscroll" href="/Books">Books</a></li>
            <li><a class="smoothscroll" href="/Games">Games</a></li>
            <li><a class="smoothscroll" href="/Songs">Songs</a></li>
            <li><a class="smoothscroll" href="/Comics">Comics</a></li>
            <li><a class="smoothscroll" href="/Videos">Videos</a></li>
            <li><a class="smoothscroll" href="/Software">Software</a></li>
            <li><a class="smoothscroll" href="/TVShows">TV Shows</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Software</h1>
            <hr />
            <ul class="social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

  </header>
   <!-- Movies Gallery -->
   <section class="section">
    <h1>Software Gallery</h1>
      <!-- <div class="grid">
            {% for x in mymovies %}
              <a href="movie_details/{{ x.id }}" class="item">
          <a href="https://www.imdb.com/title/tt0167260/?ref_=adv_li_tt" >
         <div>
             <div class="item__details">
                {{ x.moviename }} - {{ x.category }}
            </div>
         </div>
         </a>
      {% endfor %}
  
  </div> -->
  
  <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>Fever8s &copy; Copyright 2023</li>
               <li>Design by <a href="" title="Styleshout" target="_blank">YS</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> 
{% endblock %}